header{
    display: block;
}
body{
    margin:0;
    padding:0;
}
header{
    width: 100%;
    background-color: darkgrey;
    text-align: center;
    
}
h2{
    margin:0;
}

.box{
    display: flex;
    height: 100%;
}
section{
    display: inline-block;

    width: 70%;

    background-color: rgb(237, 192, 192);

}

table{ border-collapse : collapse; }  
th,td{
      width: 300px;
      height: 50%;
      text-align: center;
      border: 1px solid #000;
      
      vertical-align: top;	
      vertical-align: bottom;   
      vertical-align: middle;   
    }
thead { /* <thead>의 모든 셀 적용 */
background : darkgray;
color : yellow;
}
td, tfoot th { /* 아래쪽 테두리만 회색 */
border-bottom : 1px solid gray
}    
tbody tr:nth-child(even) { /* 짝수 <tr>에 적용*/
background : aliceblue;
}
tbody tr:nth-child(odd) { /* 짝수 <tr>에 적용*/
background : rgb(95, 176, 247);
}
nav{
    display: inline-block;
    background-color: rgb(181, 128, 128);

    margin: 0;
    padding: 0;
    width: 30%;

}

nav ol {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    color: aqua;
}


#section h2 { color: navy; }
.important-text { font-weight: bold; }
ul > li { color: #333; }