    /* 통계 css*/
    .sti {
        padding: 30 30;
        border-radius: 10;
        background-color: rgb(201, 222, 253);
    }

    .input{
        background-color: rgb(201, 222, 253);
    }
   
   #accList {
            list-style: none;
            padding: 0;
    }

    .account-item {
            padding: 10px;
            margin-bottom: 12px;
            border: 1px solid #ddd;
            border-top: 10px solid #999;
            border-radius: 10px;
            background: #fafafa;
    }
        
    .account-info strong {
            display: inline-block;
            width: 100px;
            margin-bottom:6px;
            }

    .crossed strong,
    .crossed span {
        text-decoration: line-through;
        color: #888;
    }
        